@use '../../../../variables.scss' as v;

.btn-buy{
    background-color: v.$brand-color;
    color: white;
    border: solid 1px v.$brand-color;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-buy:hover{
    background-color: rgba(0, 120, 140, 0.80);
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}