<header >
    <a
      [routerLink]="['/']" 
      class="logo">{{brandName}}</a>

  <nav>
    <search>
      
      <input 
        type="text" 
        placeholder="Busca un tema que te interese..." 
        name="" 
        id=""
        class="search-input"
      >

    </search>
    <a [routerLink]="['/']">
      INICIO
    </a>
    <a 
      [routerLink]="['/about']">
      SOBRE NOSOTROS
    </a>
    @if ( authService.authStatus() === "not-authenticated" || authService.authStatus() === "checking" ) {
      <a
        [routerLink]="['/auth']"
        class="last-element">
        INICIAR SESIÓN
      </a>
    } 
    @else{
      <a
        [routerLink]="['/']"
        (click)="authService.logoutUser()"
        class="last-element">
        CERRAR SESIÓN
      </a>
    }
  </nav>

</header>