<header>
  <div class="container-brand-icon">
    <a [routerLink]="['']" class="logo">Udemix</a>
  </div>

  <nav>

    <div class="container-search">
      <div class="container-input-svg">
        <img src="/assets/search-icon.svg" alt="Search icon" class="search-icon">
        <input type="text" placeholder="Busca un tema que te interese..." name="" id="" class="search-input">
      </div>
    </div>

    <div class="container-nav-anchors">
      <a [routerLink]="['/']">
        Inicio
      </a>
      <a [routerLink]="['/enrollments']">
        Biblioteca
      </a>

      @if ( authService.authStatus() === "authenticated") {
        <a [routerLink]="['/course/create']">
          Crea tu curso
        </a>
        <a [routerLink]="['/']" (click)="authService.logoutUser()" class="last-element">
          Cerrar sesión
        </a>
      }

      @else{
        <a [routerLink]="['/auth/login']" class="last-element">
          Iniciar sesión
        </a>
      }

    </div>
    
  </nav>

</header>