<div class="container-shopping">
    <div class="container-shopping-header">
        <h1 class="header-title">
            Carrito de compras
        </h1>
    </div>
    <div class="container-shopping-list">
        @for( item of cart().values(); track item){
        <div class="detailed-card">
            <div class="card">
                <app-cart-item-card [item]="item" />
            </div>
            <div class="detailed-resume">
                <p> <span class="shortened-title">{{ item.course.title }}</span> x {{ item.quantity }} </p>
                <p>{{ item.course.price * item.quantity| currency }}</p>
            </div>
        </div>
        }
    </div>

    <div class="container-shopping-footer">
        <div class="container-referral">
            <app-discount-code-input />
        </div>
        <div class="container-total">
            <p class="total-text">Total a pagar: </p>
            <span class="price-text"> {{ this.cartService.calculateTotal() | currency }}</span>
        </div>
    </div>

</div>