<app-header/>
    <section class="bg-create">
        <div class="container-create">
            <figure class="img-course">
                <!-- TODO : Condicional de si no agrego una portada, podria estar bien -->
                <img src="assets/not-found-image.png" alt="">
            </figure>
            <form [formGroup]="courseForm" (submit)="onSumbit()">
                <input formControlName="title" class="input input-title" type="text" placeholder="Título del curso">
                <input formControlName="description" class="input input-description" type="text" placeholder="Escribe una breve descripción del curso...">
                <div class="checkbox-container">
                    <label class="label-capacity">Capacidad Limitada</label>
                    <input formControlName="capacity" type="number" class="input input-capacity" [ngClass]="{ 'valid-border' : courseForm.value.capacity}" placeholder="0" />
                </div>    
                <div class="container-pricing">
                    <label class="label-pricing">Precio del curso</label>
                    <input formControlName="price" class="input-pricing" [ngClass]="{ 'valid-border' : courseForm.value.price}" type="number" placeholder="$5" >
                </div>
                <div class="container-btn">
                    <button class="btn btn-create" type="submit">Crear curso</button>
                    <button class="btn btn-cancel" type="reset">Cancelar</button>
                </div>
                <div class="container-file">
                    <input type="file" id="file" name="file" class="input-file" />
                    <label for="file" class="custom-file-label">Seleccionar archivo</label>
                </div>
            </form>
        </div>
    </section>
<app-footer/>