<app-header/>
    <section class="bg-create">
        <div class="container-create">
            <figure class="img-course">
                <!-- TODO : Condicional de si no agrego una portada, podria estar bien -->
                <img src="assets/not-found-image.png" alt="">
            </figure>
            <form clas="form-create" action="">
                <input class="input input-title" type="text" placeholder="Título del curso">
                <input class="input input-description" type="text" placeholder="Escribe una breve descripción del curso...">
                <div class="checkbox-container">
                    <input class="checkbox" type="checkbox" id="public" name="public" value="public">
                    <label >Capacidad Limitada</label>
                    <input type="number" class="input input-capacity" placeholder="5">
                </div>    
            </form>
        </div>
    </section>
<app-footer/>