<form class="module-item" [formGroup]="moduleForm" (ngSubmit)="this.onSaveModule()">

    <div class="module-header">
        <div class="module-title-group">
            <span class="module-title-prefix">Módulo {{ displayUnit() }}:</span>
            <input class="module-title-input" type="text" formControlName="title" placeholder="Título del módulo" autocomplete="off">
        </div>

        <div class="header-actions">
            <button class="btn-outline" type="submit"> Guardar Módulo </button>
            <button class="btn-outline-neutral" type="button" (click)="onCancel()"> Cancelar </button>
        </div>
    </div>

</form>
