@use '../../../../variables.scss' as v;

.form-module{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 6.5rem;
}

.container-input{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

input{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0.4rem;
    background-color: inherit;
    border: solid thin rgb( 33, 33 , 33 , 0.7);
    box-shadow: 5px 8px 25px rgba(0,0,0 ,0.3 );
    border-radius: 0.5rem;
    outline: none;
    color: v.$white-custom;
    text-align: center;
}

label{
    font-family: v.$font-primary;
    color: v.$white-custom;
    font-size: small;
    position: relative;
    width: 50%;
    justify-content: center;
    margin: auto;
    transform: translateY(-240%);
    border-radius: 1rem;
    background-color: rgb(51, 51, 51);
    pointer-events: none;
}

.btn-submit {
    cursor: pointer;
    width: 50%;
    margin: auto;
    padding: 0.3rem;
    color: v.$white-custom;
    border: solid thin v.$brand-color;
    border-radius: 1rem;
    background-color: v.$brand-color;
    font-family: v.$font-primary;
    box-shadow: 5px 8px 25px rgba(0,0,0 ,0.3 );
    transition: all 0.3s ease;
    outline: none;
}

.btn-submit:hover{
    transform: scale(1.05);
    box-shadow: 5px 8px 25px rgba(0,0,0 ,0.4 );
    transition: all 0.3s ease;
}