<form class="form-module" [formGroup]="moduleForm" (ngSubmit)="this.onSaveModule()" >
    <div class="container-input">
        <input type="text" formControlName="title" placeholder="Modulo 1 : El inicio.">
        <label for="">Título del módulo</label>
    </div>
    <div class="container-input">
        <input type="number" formControlName="unit" placeholder="1">
        <label for="">Nro de Módulo</label>
    </div>
    <div class="container-actions">
        <button class="btn-submit" type="submit"> Guardar Módulo </button>
        <button class="btn-cancel" type="button" (click)="onCancel()"> Cancelar </button>
    </div>
</form>