@use "../../../variables.scss" as v;

.bg-section {
    max-width: 100%;
    background-color: v.$white-custom;
    background-position: center;
    background-size: cover;
    padding: 3%;
    font-family: v.$font-primary;
}

.container{ 
    display: flex;
    background-color: v.$black-custom;
    border-radius: 1rem;
    padding: 3%;
    gap: 2%;
}

.img-course  img{
    max-width: 560px;
    max-height: 400px;
    border-radius: 1rem;
}

.container-form{
    display: flex;
    flex-direction: column;
}

.input{
    background: transparent;
    border: none;
    outline: none;
    color: v.$white-custom;
    font-family: v.$font-primary;

}

.input-title::placeholder{
    color: v.$white-custom;
    opacity: 0.7;
    text-align: center;
}

.input-title{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 15%;
    text-align: start;
    align-items: bottom;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: solid 2px v.$brand-color;
    border-radius: 0.5px;
}

.container-error-label{
    display: flex;
    margin-top: 1%;
    align-items: center;
    width: auto;
}

.container-error-label .hasError{
    display: none;
}

.input-description{
    display: flex;
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
    font-size: 1.5rem;
}

.container-capacity{
    display: flex;
    position: absolute;
    bottom: 25%;
    color: v.$white-custom;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 2%;
}


.input-capacity{
    display: flex;
    width: 5%;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    transition: all 0.3s ease;
}

.valid-border{
    border-bottom: solid 2px v.$brand-color;
}


// No dejeba que se centre el texto del input 
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-pricing{
    display: flex;
    width: 10%;
    flex-direction: column;
    position: absolute;
    right: 6%;
    bottom: 35%;
}

.container-pricing .input-pricing{
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: transparent;
    color: v.$white-custom;
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

.container-pricing .label-pricing{
    color: v.$white-custom;
    text-align: center;
}

.container-btn{
    display: flex;
    width: 25%;
    height: 6%;
    position: absolute;
    right: 5%;
    bottom: 26%;
    gap: 5%;
}

.btn{
    width: 100%;
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20rem;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0,0,0 , 0.5);

}

.btn-create{
    background-color: v.$brand-color;
    color: v.$white-custom;
    border: none;
    transition: all 0.3s ease;
}

.btn-create:hover{
    background-color: rgba(0, 120, 140, 0.70);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.btn-cancel{
    background-color: transparent;
    color: v.$white-custom;
    border: solid 2px v.$red-warning;
    transition: all 0.3s ease;
}

.btn-cancel:hover{
    color: v.$red-warning;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.container-file{
    display: flex;
    position: absolute;
    bottom: 33%;
}

.input-file {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(10, 130, 40);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.custom-file-label:hover {
    background-color: rgba(2, 15, 30, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); 
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.container-remove{
    display: flex;
}

.svg-remove{
    position: absolute;
    width: 2%;
    right: 5.5%;
    top: 29%;
    cursor: pointer;
    filter: drop-shadow( 0px 0px 15px rgba(0,0,0,1) );
    transition: all 0.3s;
}

.svg-remove:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}