@use '../../../../variables.scss' as v;

.card-course{
    display: flex;
    width: 100%;
    border-bottom: solid 1px #ccc;
}

.content-card{
    display: flex;
    padding: 20px;
    width: 100%;
}

.content-card .course-img{
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.details-course{
    display: flex;
    flex-direction: column;
    margin: 0px  15px;
    width: 100%;
    height: 100%;
    font-family: v.$font-primary;
    color: v.$black-custom;
}

.details-course .anchor{
    width: fit-content;
    appearance: none;
    text-decoration: none;
    color: v.$black-custom;
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
}

.desc{
    font-weight: 500;
}

.details-course .price{
    display: flex;
    text-align: center;
    margin: 10px;
    place-self: end;
    height: 100%;
    align-items: end;
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
}

.quantity{
    font-weight: 400;
    align-items: center;
}

.details-course{
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.extra-details{
    display: flex;
    position: relative;
    bottom: -5%;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}

.actions{
    justify-content: end;
    display: flex;
    place-self: end;
    margin-top: auto;
}

.anchor-icon{
    display: flex;
    position: absolute;
    right: 3%;
}

.edit-svg{
    width: 25px;
    cursor: pointer;
}
