@use '@variables' as v;

.card-course{
    display: flex;
    width: 100%;
    z-index: 1000000;
}

.content-card{
    display: flex;
    width: 100%;
    max-height: 250px;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px 20px 20px;
}

.container-thumbnail-course{
    display: flex;
    width: 25%;
}

.content-card figure{
    display: flex;
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: v.$black-custom;
}
.content-card .course-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-icon{
    display: flex;
    width: 15%;
    height: 15%;
    cursor: pointer;
    margin: auto;
}

.details-course{
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 0px 15px;
    font-family: v.$font-primary;
    color: v.$black-custom;
}

.details-course .anchor{
    width: fit-content;
    appearance: none;
    text-decoration: none;
    color: v.$black-custom;
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
}

.container-desc{
    display: flex;
    max-width: 85%;
    max-height: 50%;
}
.desc{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-line-clamp: 3;
    line-clamp: 3;

    -webkit-box-orient: vertical;
    font-weight: 500;
    line-height: 1.5em;
}

.details-course .price{
    display: flex;
    position: relative;
    bottom: -1.5rem;
    text-align: center;
    margin: 10px;
    place-self: end;
    height: 100%;
    align-items: end;
    font-size: 1.2rem;
    font-weight: 500;
    color: green;
}

.quantity{
    font-weight: 400;
    align-items: center;
}

.details-course{
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.extra-details{
    display: flex;
    position: relative;
    bottom: -5%;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}

.actions{
    justify-content: end;
    display: flex;
    place-self: end;
    margin-top: auto;
}

.container-extra{
    display: flex;
    position: absolute;
    right: 3%;
}

.container-extra:hover .ellipsis-svg{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
}


.container-extra:hover .course-options {
    display: flex;
    flex-direction: column;
    width: 100px;
    position: absolute;
    bottom: -5rem;
    right: 0rem;
    background-color: v.$white-custom;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}


.course-options {
    overflow: hidden;
    width: 0px;
    position: absolute;
    bottom: -5rem;
    right: 0rem;
    transition: all 0.3s ease-in-out 0.5s;
}

.course-options .option{
    display: flex;
    width: auto;
    justify-content: left;
    font-family: v.$font-primary;
    font-weight: 500;
    text-decoration: none;
    padding: 3px 10px;
    color: v.$black-custom;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option:hover{
    background-color: rgb(222 ,222 ,222);
    color: rgb(71, 71, 71);
    overflow: hidden;
    transition: all 0.3s ease;
}

.ellipsis-svg{
    display: flex;
    position: absolute;
    width: 25px;
    cursor: pointer;
}
