@use '../../../../variables.scss' as v;

.card-course{
    display: flex;
    width: 100%;
}

.content-card{
    display: flex;
    width: 98%;
    max-height: 250px;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px 20px 20px;
}

.content-card figure{
    display: flex;
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.content-card .course-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}


.details-course{
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    width: 75%;
    height: 100%;
    font-family: v.$font-primary;
    color: v.$black-custom;
}

.details-course .anchor{
    width: fit-content;
    appearance: none;
    text-decoration: none;
    color: v.$black-custom;
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
}

.desc{
    max-width: 85%;
    max-height: 50%;
    font-weight: 500;
    line-height: 1.5em;     /* Altura de línea */
    overflow: scroll;
    scrollbar-width: none;
    text-overflow: ellipsis;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-repeat: no-repeat;
}

.details-course .price{
    display: flex;
    text-align: center;
    margin: 10px;
    place-self: end;
    height: 100%;
    align-items: end;
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
}

.quantity{
    font-weight: 400;
    align-items: center;
}

.details-course{
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.extra-details{
    display: flex;
    position: relative;
    bottom: -5%;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}

.actions{
    justify-content: end;
    display: flex;
    place-self: end;
    margin-top: auto;
}

.anchor-icon{
    display: flex;
    position: absolute;
    right: 3%;
}

.edit-svg{
    width: 25px;
    cursor: pointer;
}
