    <div class="card-course">
        <div class="content-card">
            <figure>
                <img class="course-img" [routerLink]="['/course' , course().id]" src={{course().thumbnail_url}} alt="Course Image">
            </figure>
            <div class="details-course">
                <a 
                    class="anchor"
                    [routerLink]="['/course' , course().id]"
                >
                    {{course().title}}
                </a>
                <div>
                    <p class="desc">
                        {{course().description}}
                    </p>
                </div>
                <p class="price">
                    {{ course().price === 0 ? 'Gratis' : (course().price | currency:'USD':'symbol':'1.2-2') }}
                </p>
                <div class="extra-details">
                    <div class="actions">

                        @if( course().capacity != null && course().capacity! > 0 ){  
                            <p class="quantity">
                                Cantidad de cupos disponibles: 
                                <span class="quantity-number"> 
                                    {{course().capacity}} 
                                </span>
                            </p>
                        }
                        @else if ( course().capacity === 0 ){
                            <p class="quantity"> No se encuentra cupo disponible.</p>
                        }

                    </div>

                    <div class="buttons">
                        <app-btn-primary>
                                Comprar 
                        </app-btn-primary>
                        <btn-border-thin (click)="onAddToCart()" />
                    </div>

                </div>

                @if( course().id_owner === user()?.id ) {
                    <a 
                        class="anchor-icon" 
                        [routerLink]="['/course/update' , course().id ]" >
                        <div class="edit">
                            <img class="edit-svg" src="/assets/edit.svg" alt="">
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>

