@use '../../../../variables.scss' as v;

.text-progress{
    color: v.$white-custom;
    font-family: v.$font-primary;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    margin: 1%;
}

.container-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;

}

.progress-container {
    position: relative;
    width: 90%;
    height: 2%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.6rem;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(to right, rgba(0,200,150,1), rgba(0,120,200,1));
    border-radius: 0.6rem 0 0 0.6rem;
    transition: width 0.3s ease;
}

.progress-text {
    display: flex;
    position: relative;
    top: -5%;
    justify-content: center;
    font-family: v.$font-primary;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

.text-details {
    display: flex;
    color: v.$white-custom;
    font-family: v.$font-primary;
    margin: 2.5%;
}



