@use '@variables' as v;

.container-form{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.title-form{
    display: flex;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba( 255,255,255, 0.2);
    font-family: v.$font-primary;
    color: v.$white-custom;
    justify-content: center;
    font-size: 2rem;
    margin: 4% auto;
}

.form-auth{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.input-email , .input-password , .input-username{
    display: flex;
    width: 50%;
    height: 20px;
    padding: 10px;
    margin: 0% auto;
    color: v.$white-custom;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba( 0,0,0, 0.6);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid v.$brand-color;
    transition: all 0.3s ease-in-out;
}

.input-email:focus , .input-password:focus , .input-username:focus , .label-text:focus{
    outline: none;
    color: white;
    transform: scale(1.01) translateY(-5px);
    transition: all 0.3s ease-in-out;
    background-color: rgb(60, 60, 60);
}

input:not(:placeholder-shown) + label{
    background-color: rgb(60, 60, 60);
    transform: translateY(-25px);
    transition: all 0.3s ease-in-out;
}

.input-username:not(:placeholder-shown),
.input-email:not(:placeholder-shown) ,
.input-password:not(:placeholder-shown){
    transform: scale(1.01);
    transform: translateY(-5px);
    background-color: rgb(60, 60, 60);
}

.input-username:focus + .label-text,
.input-email:focus + .label-text,
.input-password:focus + .label-text {
    background-color: rgb(60, 60, 60);
    border-radius: 20px 20px;
    transform: translateY(-25px);
    transition: all 0.3s ease-in-out;
}

.input-username:focus::placeholder ,.input-email:focus::placeholder , .input-password:focus::placeholder{
    color: #aaa;
    transition: all 0.3s ease 0.2s
}

.input-username::placeholder ,.input-email::placeholder , .input-password::placeholder{
    color: transparent;
    align-items: center;
}

.label-text{
    display: flex;
    position: relative;
    z-index: 100;
    top: -12%;
    margin: 0;
    padding: 0 10px 0 10px;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    font-family: v.$font-primary;
    color: v.$white-custom;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.underline{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: v.$white-custom;
}

.btn-sumbit{
    display: flex;
    position: relative;
    width: 50%;
    min-height: 7%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-family: v.$font-primary;
    color: v.$white-custom;
    margin: 1% auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba( 255,255,255, 0.2);
    background: linear-gradient(45deg, #2ecc71 , #00d1b2 , #3498db);
    background-size: 200% 200%;
    transition: all 0.4s ease-in-out;
}

.btn-sumbit:hover{
    transform: scale(1.05) translateY(-5px);
    animation: gradientAnimation 5s ease infinite;
    transition: all 0.4s ease-in-out;
}

.btn-disabled{
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hasError{
    border-color: v.$red-warning;
}


