@use '@variables' as v;

.text-forgot-pass , .text-register{
    display: flex;
    margin: 1% auto;
    font-family: v.$font-primary;
    color: v.$white-custom;
}

.text-register a {
    color: v.$white-custom;
    text-underline-offset: 3px;
}

.input-email , .input-password{
    margin: 3% 0% 0% 0%;
}

.error{
    position: absolute;
}

.error-email{
    top: 13%;
}

.error-password{
    top: 25%
}

.btn-sumbit{
    margin: 2%;
}

.label-text{
    top: -5%;
}

.text-forgot-pass{
    margin: 2.5%;
}