@use '../../../../variables.scss' as v;

.form-auth{
    gap: 4%;
    padding-top: 5%;
}

.text-forgot-pass , .text-register{
    display: flex;
    margin: 1% auto;
    font-family: v.$font-primary;
    color: v.$white-custom;
}


.text-register a {
    color: v.$white-custom;
    text-underline-offset: 3px;
}

.hasError{
    border-color: v.$red-warning;
}

.error{
    position: absolute;
    display: flex;
    width: 50%;
    font-size: 0.9rem;
    justify-content: center;
    align-items: start;
}

.btn-sumbit{
    margin: 0%;
}

.error-email{
    top: 35%;
}

.error-password{
    top: 47%;
}

.label-text{
    top: -15%;
}