@use '../../../../variables.scss' as v;

.container-error{
    display: flex;
    align-items: center;
    width: 100%;
}

.centered{
    justify-content: center;
}

.errorMessage{
    font-family: v.$font-primary;
    font-size: 80%;
    color: v.$red-warning;
}

.container-svg{
    display: none;
    width: 1.2rem;
}

.container-error img{
    width: 100%;
}

.isActivated {
    & img{
        display: block;
    }
    display: block;
}

