@use '../../../../variables.scss' as v;

.errorMessage{
    display: flex;
    font-family: v.$font-primary;
    color: v.$red-warning;
    align-items: center;
}

img{
    width: 3%;
    display: none;
}

.isActivated {
    display: flex;
}

