@use '../../../../variables.scss' as v;

.errorMessage{
    display: flex;
    width: auto;
    font-family: v.$font-primary;
    color: v.$red-warning;
    align-items: center;
    margin: 0.5%;
}

img{
    width: 3%;
    padding: 0.5%;
    display: none;
}

.isActivated {
    display: flex;
}

