@use '../../../../variables.scss' as v;

.btn-navigation{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    padding: 2%;
    border-radius: 0.5rem;
    border: none;
    font-family: v.$font-primary;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0 , 0, 0, 0.4);
    transition: all 0.5s ease;
    color: v.$black-custom;

}

.btn-navigation:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.back{
    background-color: v.$yellow-caution;
}

.back:hover{
    background-color: rgba(255, 190, 40, 0.85);
}

.next{
    background-color: v.$green-success;
}

.next:hover{
    background-color: rgba(0, 150, 50, 0.85);
}