@use '../../../../variables.scss' as v;

.container-list {
    width: 30rem;
    background-color: v.$black-custom;
    margin-left: 3rem;
    border-radius: 1rem;
    color: v.$white-custom;
    overflow: hidden;
    box-shadow: 6px 8px 15px rgba(40, 40 , 40 , 0.3);
}

.container-list-header{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255 , 0.2);
}

.title-list{
    font-family: v.$font-primary;
    font-weight: 400;
    margin: 1rem;
}

.container-loader-modules {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    padding: 1rem 0;
}