@use '../../../../variables.scss' as v;

.container-compound-filter{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 1rem;
    gap: 5%;
}

.input-label{
    display: flex;
    width: 100%;
}

.label-text{
    display: flex;
    align-items: center;
    font-size: small;
    width: 100%;
    margin-right: 0.5rem;
}

.input-filter{
    font-family: v.$font-primary;
    display: flex;
    width: 100%;
    padding: 2.5% 0;
    outline: none;
    color: v.$white-custom;
    background-color: inherit;
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: solid thin v.$white-custom;
        
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

.input-filter::-webkit-inner-spin-button,
.input-filter::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}