@for ( course of courses; track course._id) {
    <div class="card-course">
        <div class="content-card">
            <img src={{course.img}} alt="Course Image">
            <div class="details-course">
                <p class="title">{{course.title}}</p>
                <p class="desc">{{course.description}}</p>
                <p class="price">{{course.price | currency : 'USD' : 'symbol' : '1.2-2'}}</p>
                <small>Cantidad de cupos disponibles: {{course.capacity}}</small>
                <div class="extra-details">
                    <p class="owner">Creador del curso: <span class="name-owner"> {{course.owner}} </span></p>
                    <div class="actions">

                        <app-btn-buy/>
                        
                        <app-btn-add-to-cart [course]="course" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

