<section class="bg-slider-content">
    <div class="container-options">
        <div class="container-thumbnail-selector">
            <app-thumbnail-selector  />
        </div>
        <div class="container-lesson-thumbnail">
            <figure class="figure">
                <img src="./assets/add-icon.svg" alt="">
                <p class="text-simple"> Añade una nueva lección</p>
            </figure>
        </div>
    </div>

    <div class="container-lesson-expand">
        <h1>Lección : </h1>
    </div>
    
    <div class="icon-expand">
        <figure>
            <img src="./assets/expand-icon.svg" alt="">
        </figure>
    </div>
</section>