<form class="form-lesson" >
    
    <div class="container-lesson-top">
        <input 
            class="input-title"
            placeholder="Escribé el titulo de la lección"
            type="text" name="" id="">
    </div>
    <div>
        <textarea
            class="textarea-desc"
            name="" id=""
            placeholder="Escribe una descripción en caso de que la necesites..."></textarea>
    </div>
    <div class="container-btns">
        <button>Anterior lección</button>
        <button>Siguiente lección</button>
    </div>

</form>