<form 
    (ngSubmit)="onSubmit()"
    [formGroup]="lessonForm"
    class="form-lesson">
    
    <div class="container-lesson-top">
        <input 
            formControlName="title"
            class="input-title"
            placeholder="Escribé el titulo de la lección"
            type="text" name="" id="">
        <form-error-label [control]="lessonForm.get('title')!" [warningSvg]="true" />

    </div>
    <div class="container-lesson-middle">
        <textarea
            formControlName="description"
            class="textarea-desc"
            name="" id=""
            placeholder="Escribe una descripción en caso de que la necesites..."
        ></textarea>

        <form-error-label [control]="lessonForm.get('description')!" [warningSvg]="true" />
    </div>

    <div class="save">
        <button
            type="submit"
            class="btn btn-save">
            <img class="save-icon" src="/assets/save-icon.svg" alt="">
            Guardar
        </button>
    </div>

    <div class="container-lesson-bottom">
        <div class="start">
            @if( lessonFormState.lessonSelected()?.lesson_number != 0 ){
                <app-btn-navigation [text]="'Anterior lección'"  [isNextButton]="false" />
            }
        </div>
        <div class="end">
            <app-btn-navigation [text]="'Siguiente lección'" [isNextButton]="true" />
        </div>
    
    </div>

</form>