@use '../../../../variables.scss' as v;

.container-payment{
    width: 50%;
    justify-content: center;
    margin: 0% 5%;
    padding: 2% 0;
}

.container-issuers{
    display: flex;
}

.text-pay{
    text-align: center;
    font-family: v.$font-primary;
    color: v.$black-custom;
    font-size: x-large;
    font-weight: 600;
}

.form-checkout{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-input{
    display: flex;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    color: rgba(20,20,20 ,0.3);
    font-weight: 500;
    font-family: v.$font-primary;
    border: solid 1.2px rgba(20,20,20 ,0.3);
    background-color: inherit;
    padding-left: 0.5rem;
    box-shadow: 2px 4px 15px rgba(20,20,20 ,0.15);
    z-index: 10;
}

.top-section{
    display: flex;
    width: 100%;
    margin: 1rem 0;
}

.container-input-label{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.container-card-number{
    width: 50%;
}

.container-expiration-date{
    width: 25%;
}

.container-security-code{
    width: 25%;
}

.text-label{
    display: flex;
    font-family: v.$font-primary;
    align-items: center;
    color: v.$black-custom;
    margin-bottom: 0.5rem;
}

.cardNumber{
    width: auto;
}

.expirationDate{
    width: auto;
}

.securityCode{
    width: auto;
}

.container-cardHolderInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.cardHolderName{
    width: 100%;
    color: v.$black-custom;
    outline: none;
}

.column{
    display: flex;
    flex-direction: column;
}

.select-identificationType{
    display: flex;
    width: 35%;
    padding: 0rem 1rem;
    border: none;
    outline: none;
    background-color: inherit;
    border-right: solid thin rgba(20,20,20 ,0.3);
    color: v.$black-custom;
    height: 2rem;
}

.identificationInfo{
    display: flex;
    flex-direction: row;
}

.container-select-input{
    border: solid thin rgba(20,20,20 ,0.3);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 15px rgba(20,20,20 ,0.15);
    width: 100%;
}

.container-select-input .text-label{
    display: flex;
    margin: auto;
    padding-left: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-select-input input{
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    font-family: v.$font-primary;
    padding-left: 0.5rem;
}

.hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.input-email{
    display: flex;
    color: v.$black-custom;
    outline: none;
    width: 50%;
}

.btn-pay{
    display: flex;
    width: 75%;
    cursor: pointer;
    margin: 1.5rem auto;
    padding: 0.7rem;
    border-radius: 1.5rem;
    border: solid thin transparent;
    color: v.$white-custom;
    font-family: v.$font-primary;
    font-weight: 600;
    background-color: v.$green-success;
    justify-content: center;
    box-shadow: 5px 10px 12px rgba(20,20,20 ,0.30);
    transition: all 0.5s ease;
}

.btn-pay:hover{
    transform: scale(1.01);
    transition: all 0.5s ease;
    background-color: rgba(0, 165, 65);
    box-shadow: 5px 10px 12px rgba(20,20,20 ,0.20);
}