<div class="container-payment">
    <p class="text-pay">Pagar con tarjeta</p>
    <form id="form-checkout" class="form-checkout">
        <div class="top-section">

            <div class="container-card-number container-input-label">
                <label class="text-label">Digitos de la tarjeta</label>
                <div id="form-checkout__cardNumber" class="container-input cardNumber" ></div>
            </div>
            <div class="container-expiration-date container-input-label">
                <label class="text-label">F. Vencimiento</label>
                <div id="form-checkout__expirationDate" class="container-input expirationDate" ></div>
            </div>
            <div class="container-securityCode container-input-label">
                <label class="text-label">CVV</label>
                <div id="form-checkout__securityCode" class="container-input securityCode"></div>
            </div>

        </div>
        <div class="container-input-label container-cardHolderInfo">
            <div class="column">
                <label class="text-label">Nombre del titular de la tarjeta</label>
                <input class="container-input cardHolderName" type="text" id="form-checkout__cardholderName" placeholder="Carlos Baute" />
            </div>

            <div class="container-input-label">
                <label class="text-label">Documento</label>
                <div class="identificationInfo container-select-input">
                    <select class="select-identificationType" id="form-checkout__identificationType">
                        @if( checkoutFormState.identificationTypeResource.hasValue() ){
                            @for ( item of checkoutFormState.identificationTypeResource.value() ; track item) {
                                <option value="{{ item.id }}"> {{ item.name | uppercase }} </option>
                            }
                        }
                    </select>
                    <input class="input-number" type="text" id="form-checkout__identificationNumber" placeholder="33285734" />
                </div>
            </div>
        </div>

        <select id="form-checkout__issuer" class="hidden" ></select>
        <select id="form-checkout__installments" class="hidden" ></select>

        <div class="container-email">
            <label for="" class="text-label">Correo electronico</label>
            <input type="email" id="form-checkout__cardholderEmail" class="container-input input-email" placeholder="carlosbaute@gmail.com"/>
        </div>
        <button class="btn-pay" id="form-checkout__submit">Pagar</button>
        <!-- <progress value="0" class="progress-bar hidden">Cargando</progress> -->
    </form>
</div>
