@use '../../../../variables.scss' as v;

.bg-page{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    background-color: v.$white-custom;
}

.container-content{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4% 5%;
    height: 100%;
    top: 0px;
}

.container-courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: 3% 2%;
}

.container-not-found{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.text{
    display: flex;
    color: rgb(40, 40, 40 , 0.8);
    font-family: v.$font-primary;
}
