@use '../../../../variables.scss' as v;

.bg-page{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    background-color: v.$white-custom;
}

.container-content{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4% 5%;
    height: 100%;
    top: 0px;
}

.container-courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: 3% 2%;
}

.container-compound-filter{
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 1rem;
}

.input-label{
    display: flex;
}

.label-text{
    display: flex;
    align-items: center;
    font-size: small;
    width: auto;
    margin-right: 0.5rem;
}

.input-filter{
    font-family: v.$font-primary;
    display: flex;
    width: 30%;
    padding: 2.5% 0;
    outline: none;
    color: v.$white-custom;
    background-color: inherit;
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: solid thin v.$white-custom;
        
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

.input-filter::-webkit-inner-spin-button,
.input-filter::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}