@use '../../../../variables.scss' as v;

.card-thumbnail{
    display: flex;
    width: 100%;
}

.card-action{
    cursor: pointer;
    height: 100%;
}

.figure{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.5s ease;
}

.figure:hover{
    background-color: rgb(48, 48, 48);
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}


.figure-module{
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.figure-module p{
    width: 100%;
}

.icon{
    display: flex;
    max-width: 2rem;
}

.icon-bracket{
    display: flex;
    max-width: 3.5rem;
    max-height: 4rem;
}

.text-simple{
    font-family: v.$font-primary;
    color: v.$white-custom;
    margin-top: 1%;
}