@use '@variables' as v;

.btn-navigation{
    color: v.$black-custom;
}

.back{
    background-color: v.$yellow-caution;
}

.back:hover{
    background-color: rgba(255, 190, 40, 0.85);
}

.next{
    background-color: v.$green-success;
}

.next:hover{
    background-color: rgba(0, 150, 50, 0.85);
}