@use '@variables' as v;


.container{
    display: flex;
    background: linear-gradient(50deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 60%, rgba(32, 77, 128, 1) 100%);
    mask-image: linear-gradient(to top, transparent, black 13%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200% 200%;
    max-width: 100vw;
    height: 60vh;
    padding: 4%;
    gap: 5%;
    align-items: center;
    animation: gradientAnimation 5s ease infinite;
    transition: all 0.4s ease-in-out;
    justify-content: space-between;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: v.$black-custom;
}

.container section{
    display: flex;
    position: relative;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}
.container section h1{
    font-size: 2.5rem;
    color: v.$white-custom;
    font-family: v.$font-brand;
    text-align: left;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}

.container section p {
    font-size: 1.4rem;
    color: v.$white-custom;
    font-family: v.$font-primary;
    text-align: left;
    margin: 0px 0px 2% 0%;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.container-actions{
    display: flex;
    margin: 1rem 3rem;
    gap: 5%;
}

.btn{
    padding: 0.7rem 1.5rem;
    font-family: v.$font-primary;
    font-weight: 600;
    color: v.$white-custom;
    align-items: center;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0 , 0.6);
    transition: all ease 0.5s;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all ease 0.5s;
}

.btn-about-us{
    background-color: v.$brand-color;
}

.btn-about-us:hover{
    background-color: rgba(0, 120, 140, 0.8);
}

.btn-become-a-teacher{
    background-color: v.$green-success;
}

.btn-become-a-teacher:hover{
    background-color: rgba(0, 150, 50, 0.8);
}

.container iframe{
    display: flex;
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0 , 0.6);
}

.container-recommended{
    display: flex;
    margin: 3% 0 2% 0;
    justify-content: center;
    font-family: v.$font-primary;
    color: v.$black-custom;
}