<header >
    <a class="logo">{{brandName}}</a>

  <nav>
    <search>
      
      <input 
        type="text" 
        placeholder="Busca un tema que te interese..." 
        name="" 
        id=""
        class="search-input"
      >

    </search>
    <a>INICIO</a>
    <a>EXPLORAR</a>
    <a class="about">SOBRE NOSOTROS</a>
  </nav>

</header>

<router-outlet></router-outlet>

<div class="container">
  <section>
      <h1>¡Los mejores cursos, al mejor precio!</h1>
      <p>Aprende a tu ritmo, desde cualquier lugar y en cualquier momento.</p>
      <p>Con Udemix, tendrás acceso a una amplia variedad de cursos en línea, diseñados para ayudarte a alcanzar tus metas profesionales y personales.</p>
  </section>
  <!-- TODO: Alternativas para mejorar rendimiento -->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fO74AMjx2fk?si=F9Ssa3p5sl5vhEDK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<app-course-list></app-course-list>

<div
  class="container-cart"
  >
 <button type="button">
  <img src="assets/cart-icon.svg" alt="Carrito de compras">
  <span class="cart-count"></span>
 </button>
</div>
<footer>
  <section class="footer">
    <h2 class="logo" >Udemix</h2>
    <p class="text">
      Nuestra plataforma conecta estudiantes con cursos de calidad en línea, 
      brindando acceso a contenidos actualizados, prácticos y diseñados por profesionales.
      Desde desarrollo web hasta habilidades blandas, ofrecemos una experiencia de aprendizaje flexible y 
      accesible para todos.
    </p>
    <div class="footer-content">
      <div class="links">
        <h2>Enlaces Utiles</h2>
        <a href="">Inicio</a>
        <a href="">Explorar</a>
        <a href="">Sobre Nosotros</a>
      </div>
      <div class="contact">
        <h2>Redes Sociales</h2>
        <a href="https://www.facebook.com/"><img src="assets/facebook-white.svg" alt="Facebook">Facebook</a>
        <a href="https://www.twitter.com/"><img src="assets/x-white.svg" alt="X">Twitter</a>
        <a href="https://www.instagram.com/"><img src="assets/instagram-white.svg" alt="Instagram">Instagram</a>
      </div>
    </div>
  </section>
  <div class="copyright">
    <p>&copy; 2026 Udemix. Todos los derechos reservados.</p>
    <p>Desarrollado por Martin Ezequiel Acosta.</p>
  </div>

</footer>
