@use '../../../variables.scss' as v;

.mini-card{
    display: flex;
    width: 22rem;
    height: 26rem;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    padding: 2.5%;
    border-radius: 0.2rem;
    margin-bottom: 10%;
    background-color: rgb(40, 40, 40); 
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    cursor: pointer;
}

.mini-card:hover{
    background-color: rgba(0, 0, 0, 0.9); 
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.title{
    display: flex;
    width: 100%;
    font-family: v.$font-primary;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 2% 0;
    text-align: center;
    justify-content: center;
    color: v.$white-custom;


}

figure .thumbnail-course{
    display: flex;
    width: 95%;
    margin: 1.5% auto;
    mask-image: linear-gradient(to right, transparent, black 3%, black 97%, transparent),
                linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: cover;
}