
<div class="container-form">
        <h1 class="title-form">Iniciar sesión</h1>
        <form [formGroup]="loginForm" class="form-auth">
            <input 
                type="text" 
                placeholder="example@gmail.com" 
                class="input-email" 
                required 
                name="email"
                autocomplete="off"
                formControlName="email"
            >
            <label class="label-text label-email">Correo Electronico</label>

            <input 
                type="password" 
                placeholder="unaContraseñaSegur@123" 
                class="input-password" 
                required 
                name="password"
                formControlName="password"
            >
            <label class="label-text">Contraseña</label>
            
            <button class="btn-sumbit" type="submit">
                Ingresar
            </button>
            <a class="text-forgot-pass underline" href="">
                ¿Olvidaste tu contraseña?
            </a>
            <p class="text-register">
                ¿Todavia no tienes una cuenta? 
                <a  
                    class="underline" 
                >
                        Registrate. 
                </a> 
            </p>

        </form>
    </div>
