@for ( course of courses() ; track course._id) {
    <div class="card-course">
        <div class="content-card">
            <img class="course-img" src={{course.imgURL}} alt="Course Image">
            <div class="details-course">
                <p class="title">{{course.title}}</p>
                <p class="desc">{{course.description}}</p>
                <p class="price">{{ course.price === 0 ? 'Gratis' : (course.price | currency:'USD':'symbol':'1.2-2') }}</p>
                <small></small>
                <div class="extra-details">
                    <div class="actions">
                        @if( course.capacity != null && course.capacity > 0 ){  
                            <p class="quantity">Cantidad de cupos disponibles: <span class="quantity-number"> {{course.capacity}} </span></p>
                        }
                    </div>
                    <div class="buttons">

                        <app-btn-primary> Comprar </app-btn-primary>
                         
                        <app-btn-add-to-cart [course]="course" />
                    </div>
                </div>
                @if( course.owner === authService.id() ) {
                    <a class="anchor-icon" [routerLink]="['/course/update' , course._id ]" >
                        <div class="edit">
                            <img class="edit-svg" src="/assets/edit.svg" alt="">
                        </div>
                    </a>

                }

            </div>
        </div>
    </div>
}

