@use '@variables' as v;

.container-user-profile {
    display: flex;

    align-items: center;
    justify-content: center;
}

.user-profile-img {
    width: 2rem;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
    
}
