<div class="container-user-profile">
    <button type="button" class="profile-trigger" [class.active]="open()" (click)="onClickProfile()">
        @if( userState.user()?.avatar_url ) {
            <img [src]="userState.user()?.avatar_url" alt="User icon profile" class="user-profile-img">
        } @else {
            <img src="assets/user-profile.svg" alt="User icon profile" class="user-profile-img fallback-icon">
        }
    </button>
    <div class="dropdown-wrapper" [ngClass]="{ 'open': open() }">
        <div class="dropdown-inner">
            <div [routerLink]="['/auth/me']" class="dropdown-item">
                <a>Tu perfil</a>
            </div>
            @if( !userState.user()?.isEmailVerified ) {
                <div [routerLink]="['/auth/verify-email']" class="dropdown-item">
                    <a>Validar tu email</a>
                </div>
            }
            @if( userState.user()?.role === 'student' ) {
                <div [routerLink]="['/become-teacher']" class="dropdown-item">
                    <a>Conviértete en profesor</a>
                </div>
            }
            <div class="dropdown-item logout" (click)="authService.logoutUser()">
                <a>Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>