@use '../../variables.scss' as v;

.container-cart{
    display: flex;
    position: fixed;
    right: 2%;
    bottom: 5%;
    width: 4%;
    height: 7%;
    background-color: v.$brand-color;
    z-index: 100;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.6);
}

.container-cart .container-icon{
    display: flex;
    color: v.$white-custom;
    font-size: 1.5rem;
    font-family: v.$font-primary;
    margin: auto;
    width: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container-cart img{
    display: flex;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.content-open{
    display: flex;
    position: fixed;
    overflow: hidden;
    right: 2%;
    bottom: 5%;
    z-index: 100;
    background-color: v.$white-custom;
    width: 300px;
    height: 500px;
    box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.content-open .container-icon{
    display: flex;
    width: 10%;
    height: 15%;
}

.content-open .container-icon img{
    width: 100%;
    margin: auto;
}

.content-open .cart-content{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: auto;
    z-index: 1;
    max-width: 200px;
}

.content-open .container-icon{
    display: flex;
    width: 10%;
    height: 70%;
    margin: 0 0 0 auto;
}

.content-open .container-icon img{
    width: 100%;
    height: auto;
}

.header-cart{
    display: flex;
    align-items: center;
    height: 10%;
    border-radius: 12px;
    background-color: v.$brand-color;
    box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.4);
}

.header-cart p{
    font-weight: bold;
}

.cart-content{
    display: flex;
    z-index: -1;
    max-width: 0;
    overflow: hidden;
    font-family: v.$font-primary;
    color: v.$white-custom;
}

