@use "../../../../variables.scss" as v;

.bg-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    background-color: v.$white-custom;
    background-position: center;
    background-size: cover;
    font-family: v.$font-primary;
}

.container{ 
    position: relative;
    display: flex;
    width: 90%;
    height: 50vh;
    margin: 1.5% auto;
    padding: 2%;
    background-color: v.$black-custom;
    border-radius: 1rem;
    gap: 2%;
}

.container-thumbnail{
    width: 65%;
}

.img-course{
    min-width: 35%;
    max-width: 35%;
    display: flex;
}

.img-course  img{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 1rem;
}

.input{
    background: transparent;
    border: none;
    outline: none;
    color: v.$white-custom;
    font-family: v.$font-primary;
}

.form-course{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-form-top{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
}

.input-title{
    width: 75%;
    height: 60%;
    font-size: 2rem;
    font-family: v.$font-primary;
    text-align: left;
    padding: 0% 1%;
    border-bottom: solid 2px v.$brand-color;
    border-radius: 0.5px;
}

.container-form-description{
    display: flex;
    width: 75%;
    height: 20%;
    flex-direction: column;
}

.input-description{
    display: flex;
    width: 100%;
    height: auto;
    resize: none;
    overflow: visible;
    scrollbar-width: none;
    font-size: 1.3rem;
}

.container-form-right{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20%;
    right: 2%;
    width: 20%;
    height: 45%;
}

.container-capacity{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
    color: v.$white-custom;
    font-size: 1rem;
}

.container-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    width: 100%;
}

.switch-container{
    display: flex;
    cursor: pointer;
}

.switch-checkbox{
    position: absolute;
    left: -100vw;
}

.switch-label{
    font-size: 2rem;
    text-indent: -100vw;
    cursor: pointer;
    background-color: grey;
    position: relative;
    border: solid 1px transparent;
    width: 65px;
    height: 30px;
    border-radius: 2rem;
    box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.5) , 5px 2px 5px rgb(0,0,0 , 0.5);
}

.switch-label:after{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 100%;
    padding: 2px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgb(197, 14, 14, 0.8);
    content: 'OFF';
    color: v.$white-custom;
    text-indent: 0;
    text-transform: uppercase;
    font-family: v.$font-primary;
    font-size: 0.7rem;
    font-weight: 500;
    box-shadow: 0 2px 5px rgb(197, 14, 14, 0.8);
    transition: 0.5s;
}

.switch-checkbox:checked + .switch-label{
    background-color: v.$white-custom;
    transition: 0.5s;
}

.switch-checkbox:checked + .switch-label::after{
    color: rgb(255,255,255);
    content: 'ON';
    background-color: rgb(0, 150, 50 ,0.8);
    box-shadow: 0 2px 5px rgb(0, 150, 50 ,0.8);
    transform: translate(35px);
}

.label-capacity{
    color: v.$white-custom;
    transition: color 0.5s ease;
}

.unlimited-capacity{
    color: grey;
    transition: color 0.5s ease;
}

.input-capacity{
    display: flex;
    width: 13%;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    transition: all 0.3s ease;
}

.container-error{
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
}

// No dejeba que se centre el texto del input 
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-pricing{
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 0 auto auto;
    flex-direction: column;
    text-align: center;
}

.input-pricing{
    height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: transparent;
    color: v.$white-custom;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

.invalid-border{
    border-bottom: solid 2px v.$red-warning;
}

.valid-border{
    border-bottom: solid 2px v.$brand-color;
}


.container-pricing .label-pricing{
    color: v.$white-custom;
    text-align: center;
}

.container-btn{
    display: flex;
    width: 25%;
    height: 10%;
    position: absolute;
    right: 2%;
    bottom: 10%;
    gap: 5%;
}

.btn{
    width: 100%;
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20rem;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0,0,0 , 0.5);

}

.btn-create{
    background-color: v.$brand-color;
    color: v.$white-custom;
    border: none;
    transition: all 0.3s ease;
}

.btn-create:hover{
    background-color: rgba(0, 120, 140, 0.70);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.btn-cancel{
    background-color: transparent;
    color: v.$white-custom;
    border: solid 2px v.$red-warning;
    transition: all 0.3s ease;
}

.btn-cancel:hover{
    color: v.$red-warning;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.container-files{
    display: flex;
    flex-direction: column;
    width: 14%;
    position: absolute;
    bottom: 10%;
}

.input-file {
  display: none;
}

.custom-file-label {
    display: flex;
    width: 100%;
    height: 10%;
    padding: 10px 10px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(10, 130, 40);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}


.custom-content{
    background-color: v.$brand-color;
    margin-bottom: 4%;
}

.custom-file-label:hover {
    background-color: rgba(2, 15, 30, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); 
    transform: scale(1.05);
    transition: all 0.3s ease;
}



.custom-file-label img{
    width: 10%;
    height: 5%;
}

.custom-content img{
    object-fit: cover;
}
