<section class="bg-section">
        <div class="container">
            <!-- <figure class="img-course">
                 @if( tempThumbnail() ) {
                    <img [src]="tempThumbnail()" alt="Portada del curso" class="img-course">
                 }
                 @else{
                    <img src="assets/not-found-image.png" alt="">
                 }
            </figure> -->

            <div class="container-thumbnail">
                <app-thumbnail-selector />
            </div>

            <form class="form-course" [formGroup]="courseForm" (ngSubmit)="onSubmit()">

                <div class="container-form-top">
                    <input 
                        formControlName="title" 
                        class="input input-title" 
                        type="text" 
                        placeholder="Título del curso"
                    />
                    
                    <form-error-label [control]="courseForm.get('title')!" [warningSvg]=true />
                    
                    @if( this.course ){
                        <div class="container-remove" (click)="onDeleteCourse( this.course.id! )">
                            <img class="svg-remove" src="assets/remove.svg" alt="">
                        </div>
                    }
                </div>

                <div class="container-form-description">
                    <textarea 
                        formControlName="description" 
                        class="input input-description" 
                        type="text" 
                        placeholder="Escribe una breve descripción del curso...">
                    </textarea>
    
                    <form-error-label [control]="courseForm.get('description')!" [warningSvg]=true />
                </div>

                <app-category-select 
                    [courseProvided]="course"
                    (clickCategory)="courseForm.get('id_category')?.setValue($event)"
                />

                <div class="container-form-right">
                    <div class="container-pricing">
                        <label class="label-pricing">
                            Precio del curso
                        </label>
                        <input 
                            formControlName="price"
                            class="input input-pricing" 
                            type="number" 
                            [ngClass]="{ 
                                'invalid-border': courseForm.get('price')?.errors && courseForm.get('price')?.touched , 
                                'valid-border': courseForm.get('price')?.touched && !courseForm.get('price')?.errors 
                            }" 
                            placeholder="5" 
                        />
                        <form-error-label [control]="courseForm.get('price')!" />
                    </div>
                    <div class="container-capacity">
                        <div class="container-inline">
                            <label class="label-capacity" [ngClass]="{ 'unlimited-capacity' : !courseForm.get('wantLimitedCapacity')?.value}">
                                Capacidad Limitada
                            </label>
                            <input 
                            formControlName="capacity" 
                            type="number" 
                            class="input input-capacity" 
                            [ngClass]="{ 
                                    'invalid-border': courseForm.get('capacity')?.errors, 
                                    'valid-border': courseForm.get('capacity')?.touched && !courseForm.get('capacity')?.errors && courseForm.get('wantLimitedCapacity')?.value ,
                                    'unlimited-capacity' :!courseForm.get('wantLimitedCapacity')?.value
                                }" 
                                placeholder="5" 
                                />
                                <div class="switch-container">
                                    <input type="checkbox" id="switch-label" class="switch-checkbox" formControlName="wantLimitedCapacity" >
                                    <label for="switch-label" class="switch-label" >
                                    </label>
                                </div>
                        </div>
                        <div class="container-error">
                            <form-error-label [control]="courseForm.get('capacity')!" />
                        </div>
                    </div>
                </div>

                <div class="container-btn">
                    <button 
                        class="btn btn-create" 
                        type="submit"
                        >
                        {{ this.course?.id  ? 'Editar curso': 'Crear curso'}}
                    </button>
                    <button class="btn btn-cancel" type="reset">
                        Cancelar
                    </button>
                </div>

                <div class="container-files">                    
                    <input 
                        type="file" 
                        class="input-file" 
                        multiple
                        accept="image/*,video/*"
                        />
                    <label for="file" class="custom-file-label custom-content">
                        <img src="assets/new-white-icon.svg" alt="">
                        Agregar contenido
                    </label>

                    <input 
                        type="file" 
                        id="file" 
                        name="file" 
                        class="input-file"
                        accept="image/*"
                        (change)="this.courseFormState.onThumbnailChanged( $event )"
                        />
                    <label for="file" class="custom-file-label">
                        <img src="assets/thumbnail-icon.svg" alt="">
                        Agregar portada
                    </label>
                </div>
            </form>
        </div>

        <section class="bg-slider-content">
            <div class="container-thumbnail-selector">
                <app-thumbnail-selector  />
            </div>
            <div class="lessons-container">
                <figure class="figure">
                    <img src="./assets/add-icon.svg" alt="">
                    <p class="text-simple"> Añade una nueva lección</p>
                </figure>
            </div>
        </section>

    </section> 