<div class="card-course">
    <div class="content-card">
        <img src="https://i.ytimg.com/vi/3qBXWUpoPHo/maxresdefault.jpg" alt="Course Image">
        <div class="details-course">
            <p class="title">{{course.title}}</p>
            <p class="desc">{{course.description}}</p>
            <p class="price">${{course.price}}</p>
            <p class="owner">Creador del curso: <span class="name-owner"> {{course.owner}} </span></p>
            <button
                class="btn-buy">
                Comprar
            </button>
            
            <button
                class="btn-add-to-cart">
                Agregar al carrito
            </button>

        </div>
        
    </div>
</div>

