@use '../../variables.scss' as v;

.card-course{
    display: flex;
    width: 100%;
    border-bottom: solid 1px #ccc;
}

.content-card{
    display: flex;
    padding: 20px;
    width: 100%;
}

.content-card img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.details-course{
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    width: 100%;
    height: 100%;
    font-family: v.$font-primary;
    color: v.$black-custom;
}

.details-course .title{
    font-weight: bold;
    margin-bottom: 2%;
}

.details-course .price{
    display: flex;
    text-align: center;
    margin: 10px;
    place-self: end;
    height: 100%;
    align-items: end;

    font-size: 1.2rem;
    font-weight: bold;
    color: green;
}

.details-course .owner{
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.extra-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.actions{
    display: flex;
    place-self: end;
}

.btn-buy{
    background-color: v.$brand-color;
    color: white;
    border: solid 1px v.$brand-color;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-buy:hover{
    background-color: rgba(0, 120, 140, 0.70);
    border: solid 1px rgba(0, 120, 140, 0.70);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.btn-add-to-cart{
    margin-left: 10px;
    border: solid 1px v.$brand-color;
    color: v.$brand-color;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-add-to-cart:hover{
    background-color: v.$brand-color;
    color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}