@use '../../../../variables.scss' as v;

.container-title{
    display: flex;
    height: 15%;
}

.title{
    overflow: hidden;
}

.text{
    font-family: v.$font-primary;
    color: v.$white-custom;
}

.text-details{
    display: flex;
    font-weight: 500;
    font-size: large;
    justify-content: center;
}

.text-desc{

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    margin: 1% 2%;
    text-align: center;
    font-size: medium;
}

.container-pricing{
    display: flex;
    font-family: v.$font-primary;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: v.$green-success;
}

.price{
    font-size: large;
    font-weight: 600;
}

.container-hover{
    display: flex;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    inset: 0;
    gap: 5%;
    min-width: 100%;
    min-height: 100%;
    transition: opacity 0.3s ease;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.338) 0%, rgba(0,0,0,0.9) 100%);
}

.btn{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: transparent;
    border: solid thin v.$white-custom;
    color: v.$white-custom;
    font-weight: 400;
    font-family: v.$font-primary;
    cursor: pointer;
    transition: all 0.3s ease;
    pointer-events: all;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}


.container-hover:hover{
    visibility: visible;
    opacity: 1;
}