@use '../../../../variables.scss' as v;

.container-module-toggle {
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.container-module-header:hover{
    background-color: rgb(20, 20, 20);
    transition: all 0.3s ease;
}

.container-module-header{
    display: flex;
    padding: 1rem;
    align-items: center;
    flex: 1;
}

.container-module-header.open{
    background-color: rgb(20, 20, 20);
    transition: all 0.3s ease;
}

.icon-expand{
    width: 3rem;
    height: 1rem;
    rotate: -90deg;
    transition: all 0.3s ease;
}

.icon-expand.open{
    rotate: 0deg;
    transition: all 0.3s ease;
}

.title-module{
    font-weight: 300;
    flex: 1;
}

.container-list-lessons {
    display: flex;
    width: 100%;
    background-color: rgb(30, 30 ,30);
    padding: 0rem 1rem;
}

.container-list-lessons.hidden{
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: all 0.3s ease;
}

.container-list-lessons.deployed{
    display: flex;
    height: 3rem;
    transition: height 0.3s ease;
}

.container-lesson{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
}

.title-lesson{
    font-family: v.$font-primary;
    font-weight: 400;
}