<div class="container-module-toggle">
    <div class="container-module-header" (click)="toggleIsDeployed()" [ngClass]="!isDeployed() ? '' : 'open' " >
        <h3 class="title-module"> Modulo {{ module().unit }} : {{ module().title }}</h3>
        <img class="icon-expand" src="assets/expand-icon-white.svg" alt="Icon expand module" [ngClass]="!isDeployed() ? '' : 'open'">
    </div>
    <div class="container-list-lessons" [ngClass]="!isDeployed() ? 'hidden' : 'deployed' ">
        @for(lesson of module().lessons; track lesson.id){
            <div class="container-lesson" (click)="isClickable() ? goToLesson( lesson.id ) : null">
                <p class="title-lesson">{{ lesson.title }}</p>
            </div>
        }
    </div>
</div>