@use '@variables' as v;

.video-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-js .vjs-big-play-button {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}
