@use '../../../variables.scss' as v;

.container-loader{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container-loader h1{
    font-family: v.$font-primary;
    color: v.$brand-color;
    margin-bottom: 15px;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 v.$brand-color inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}