@use '../../../../../variables.scss' as v;

.container-filter{
    display: flex;
    width: auto;
    max-width: 17rem;
    justify-content: left;
    align-items: center;
}

.text-searchbar{
    width: 60%;
}

.container-filter-select{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin-left: 1%;
    width: 100%;
    height: 60%;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    font-family: v.$font-primary;
    color: v.$white-custom;
}

.container-select{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
}

.container-filter-select:hover{
    & .options {
        display: block;
        visibility: visible;
    }
}

.container-filter-select:hover{
    & .down-icon{
        transform: rotate(0deg);
        transition: all 0.5s ease;    
    }
}

.option-default{
    display: flex;
    padding: 4%;
    margin-bottom: 2%;
    border: solid thin v.$white-custom;
    border-radius: 0.5rem;
    box-shadow: inset 1px 5px 15px rgba(255,255,255,0.02);
    box-shadow: 5px 2px 5px rgb(0,0,0 , 0.5);
    align-items: center;
}

.option-default-selected{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
}

.container-down-icon{
    width: 10%;
    height: 100%;
}

.down-icon{
    display: flex;
    width: 100%;
    height: 100%;
}

.down-icon{
    transform: rotate(-90deg);
    transition: all 0.5s ease;    
}

.options{
    display: none;
    text-align: center;
    appearance: none;
    list-style: none;
    visibility: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 100%;
}

.option-filter{
    border: none;
    height: 25%;
    z-index: 1000;
    padding: 3% 4%;
    color: v.$white-custom;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);        
    background-color: v.$black-custom;
}

.option-filter:hover{
    background-color: v.$brand-color; 
    cursor: pointer;
}


.option-filter:first-child{
    border-radius: 0.5rem 0.5rem 0 0;
}

.option-filter:last-child{
    border-radius: 0 0 0.5rem 0.5rem;
}