<div class="container-bar">
    <div class="container-filter">
        <p class="text-searchbar">Filtrar por:</p>

        <div class="container-filter-select">
            <div class="container-select">
                <div class="option-default"> 
                    <p class="option-default-selected">
                            Selecciona un filtro
                    </p>
                    <div
                        class="container-down-icon">
                        <img class="down-icon" src="assets/down-icon.svg" alt="">
                    </div>
                </div>
                <ul class="options">
                @for( filter of filters(); track filter) {
                    <li 
                        [routerLink]=[]
                        class="option-filter">
                        {{ filter.label }} 
                    </li>
                }
                </ul>
            </div>
        </div>

        <ng-content>
        </ng-content>
        
    </div>
    <div class="container-search">
        <div 
            class="container-search-icon" 
            (click)="value.emit(txtSearch.value)"
            >
            <img class="search-icon" src="/assets/search-icon-white.svg" alt="">
        </div>
        <input
            #txtSearch
            (keyup.enter)="value.emit( txtSearch.value )"
            (keyup)="inputValue.set( txtSearch.value )"
            [value]="inputValue()"
            class="input-search" 
            placeholder="Escribe algo de tu interes..." 
            type="text" 
            name="" 
            id="">
    </div>
</div>