@use '../../../../variables.scss' as v;

.container-bar{
    display: flex;
    position: relative;
    width: auto;
    justify-content: space-between;
    z-index: 1;
    border-radius: 0.3rem;
    height: 4rem;
    margin-top: 1.5%;
    padding: 0 1%;
    align-items: center;
    color: v.$white-custom;    
    font-family: v.$font-primary;
    background-color: v.$black-custom;
    box-shadow: 5px 10px 15px rgb(0,0,0 , 0.5);
}

.selector{
   display: flex;
   width: 65%;
   align-items: center;
}

.container-search{
    display: flex;
    width: 35%;
    max-width: 30%;
    height: 60%;
    border-radius: 0.5rem;
    border: solid thin v.$white-custom;
    align-items: center;
    overflow: hidden;
}

.container-search-icon{
    display: flex;
    padding: 0 5%;
    border-right: solid thin v.$white-custom;
    height: 100%;
    cursor: pointer;
}

.container-search-icon:hover{
    background-color: rgba(255,255,255,0.03);
}

.container-search-icon img{
    width: 100%;
    height: 100%;
}

.input-search{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    font-family: v.$font-primary;
    align-items: center;
    background-color: inherit;
    color: v.$white-custom;
    border: none;
    outline: none;
}

.input-search::placeholder{
    color: rgba(233 ,233,233, 0.75);

}
