@use '../../../../variables.scss' as v;

.container-bg {
    width: 100%;
    background-color: v.$white-custom; 
}

.container-header{
    padding: 4% 5% 1%;
}

.container-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0% 4%;
    height: 100%;
    top: 0px;
}

.container-resume{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
    font-family: v.$font-primary;
    color: v.$black-custom;
}


.text-bold{
    font-weight: bold;
}

.title-resume{
    display: flex;
    text-shadow: 2px 4px 6px rgba(20 ,20, 20, 0.17);
    padding: 1.5%;
    font-weight: 600;
}

.detailed-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
}

.item-reserved{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    margin: auto;
    border-bottom: solid thin rgba(203 ,203, 203, 0.75);
}

.course-title{
    display: flex;
    justify-content: center;
    width: 100%;
}

