<div class="container-bg">
    <div class="container-header">
        <app-page-title [title]="'Continuar transacción'" />
    </div>
    <div class="container-content">

        <app-cart-checkout [cart]="shoppingList()" />

        <div class="container-resume">
            <h2 class="title-resume">Resumen de la compra</h2>
            <div class="detailed-resume">
                @for (item of shoppingList().values(); track item) {
                    <div class="item-reserved">
                        <small class="course-title"> {{ item.course.title }}</small>
                        <small> <span class="text-bold"> Cantidad reservada: </span> {{ item.quantity }}</small>
                        <small> <span class="text-bold"> Precio unitario: </span> {{ item.course.price | currency}}</small>
                    </div>
                }
                <!-- 
                <div class="item-reserved">
                    <small> Código de descuento: -$0</small>
                </div> 
                -->
                <div>
                    <small class="text-bold">Total a pagar : {{ this.cartService.calculateTotal() | currency }}</small>
                </div>
            </div>
        </div>
        <!-- gestor de pago supongo , hay que ver como implementar -->
         
        
    </div>
    <div class="container-payment">
        <div class="container-issuers">
            @if( this.paymentMethods.hasValue() ){
                @for (item of this.paymentMethods.value(); track item) {
                    <img src='{{item.thumbnail }}' alt="">
                }
            }
        </div>
        
        <form id="form-checkout">
            <div id="form-checkout__cardNumber" class="container"></div>
            <div id="form-checkout__expirationDate" class="container"></div>
            <div id="form-checkout__securityCode" class="container"></div>
            <input type="text" id="form-checkout__cardholderName" />
            <select id="form-checkout__issuer"></select>
            <select id="form-checkout__installments"></select>
            <select id="form-checkout__identificationType"></select>
            <input type="text" id="form-checkout__identificationNumber" />
            <input type="email" id="form-checkout__cardholderEmail" />
            <button type="submit" id="form-checkout__submit">Pagar</button>
            <progress value="0" class="progress-bar">Cargando</progress>
        </form>
    </div>
</div>