@use '../../../../variables.scss' as v;

.container-bg {
    width: 100%;
    background-color: v.$white-custom; 
}

.container-content{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4% 5%;
    height: 100%;
    top: 0px;
}

.title{
    font-size: 2.5rem;
    padding: 2%;
    font-family: v.$font-primary;
    color: v.$black-custom;
}

.container-title{
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: solid v.$brand-color;
}
