
$font-brand: "Playwrite DK Loopet", cursive;
$font-primary: "Montserrat", sans-serif;
$white-custom: rgb(233, 233, 233);
$black-custom: rgb(40, 40, 40);
$brand-color: rgb(0, 120, 140);
$red-warning: rgb(197, 14, 14);