<header>
  <div class="container-brand-icon">
    <a [routerLink]="['']" class="logo">Udemix</a>
  </div>

  <nav>
    <div class="container-search">
      <div class="container-input-svg">
        <img src="/assets/search-icon.svg" alt="Search icon" class="search-icon">
        <input type="text" placeholder="Busca un tema que te interese..." name="" id="" class="search-input">
      </div>
    </div>

    <div class="container-nav-anchors">
      <a [routerLink]="['/explore']" (click)="searchService.reset(); closeMobileMenu()">
          Explorar
      </a>
      @if ( authService.authStatus() === "authenticated") {
        <a [routerLink]="['/enrollment']" (click)="closeMobileMenu()">
          Biblioteca
        </a>

        @if( authService.user()?.role === 'teacher' || authService.user()?.role === 'admin' ) {
          <a [routerLink]="['/course/create']" (click)="closeMobileMenu()">
            Crea tu curso
          </a>
        }

        <app-user-profile-dropdown />
        
      }
      @else{
        <a [routerLink]="['/auth/login']" class="last-element" (click)="closeMobileMenu()">
          Iniciar sesión
        </a>
      }
    </div>
    
  </nav>

  <button class="hamburger" (click)="toggleMobileMenu()" [class.active]="isMobileMenuOpen()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  @if (isMobileMenuOpen()) {
    <div class="mobile-menu">
      <a [routerLink]="['/explore']" (click)="searchService.reset(); closeMobileMenu()">
          Explorar
      </a>
      @if ( authService.authStatus() === "authenticated") {
        <a [routerLink]="['/enrollment']" (click)="closeMobileMenu()">
          Biblioteca
        </a>

        @if( authService.user()?.role === 'teacher' || authService.user()?.role === 'admin' ) {
          <a [routerLink]="['/course/create']" (click)="closeMobileMenu()">
            Crea tu curso
          </a>
        }
        
      }
      @else{
        <a [routerLink]="['/auth/login']" (click)="closeMobileMenu()">
          Iniciar sesión
        </a>
      }
    </div>
  }

</header>
