@use '@variables' as v;

header{
    display: flex;
    max-width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding: 0px 20px 0px 20px;
    background-color: v.$white-custom;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

header .logo{
    font-size: 2rem;
    color: v.$brand-color;
    font-family: v.$font-brand;
    text-decoration: none;
}

.container-brand-icon{
    display: flex;
    align-items: center;
    min-width: 25%;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    max-width: 75%;
    height: 100%;
}

nav a{
    text-decoration: none;
    color: rgb(0, 120, 140);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0px 10px 0px 10px;
    font-family: v.$font-primary;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav a:hover{
    color: rgba(0, 120, 140, 0.70);
}

.container-search{
    display: flex;
    align-items: center;
    height: 100%;
}

.container-input-svg{
    display: flex;
    width: 70%;
    height: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: solid thin v.$brand-color;
}

.search-icon{
    display: flex;
    width: 5%;
}

.search-input{
    display: flex;
    background-color: inherit;
    color: v.$black-custom;
    text-align: center;
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 0.5rem;
}

.container-nav-anchors{
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 65%;
    height: 100%;
}