<div class="container-form">
    <h1 class="title-form">Registrarse</h1>
    <form [formGroup]="registerForm" (submit)="onRegister()" class="form-auth">
            <input 
                type="text" 
                placeholder="Charles" 
                class="input-username" 
                required 
                name="username"
                autocomplete="off"
                formControlName="username"
                [ngClass]="{'hasError': ( registerForm.get('username')?.errors && registerForm.get('username')?.touched ) ?? false }"
            />
            <label class="label-text label-email">Nombre de usuario</label>
            <form-error-label class="error error-username" [control]="registerForm.get('username')!"/>

            <input 
                type="text" 
                placeholder="example@gmail.com" 
                class="input-email" 
                required 
                name="email"
                autocomplete="off"
                formControlName="email"
                [ngClass]="{'hasError': ( registerForm.get('email')?.errors && registerForm.get('email')?.touched ) ?? false }"
            >
            <label class="label-text label-email">Correo Electronico</label>
            <form-error-label class="error error-email" [control]="registerForm.get('email')!"/>

            <input 
                type="password" 
                placeholder="unaContraseñaSegur@123" 
                class="input-password" 
                required 
                name="password"
                formControlName="password"
                [ngClass]="{'hasError': ( registerForm.get('password')?.errors && registerForm.get('password')?.touched ) ?? false }"
            >
            <label class="label-text">Contraseña</label>
            <form-error-label class="error error-password" [control]="registerForm.get('password')!"/>
            
            <button class="btn-sumbit" type="submit">
                Crea una cuenta
            </button>

            <p class="text-login">
                ¿Ya tienes una cuenta? 
                <a  
                    [routerLink]="['/auth/login']"
                    class="underline" 
                >
                        Ingresa. 
                </a> 
            </p>

    </form>

</div>