<div class="container-content">
    @if( enrollmentState.isLoadingEnrollment() ){
        <div class="container-loader">
            <app-loader />
        </div>
    }
    @else if( enrollmentState.error() ){
        <div class="container-loader">
            <h1 class="error-text">No pudimos cargar esta inscripción. Intentá de nuevo más tarde.</h1>
        </div>
    }
    @else if( enrollmentState.selectedEnrollment() ){
        <app-list-of-content [courseId]="enrollmentState.selectedEnrollment()!.course.id_course!" />

        <div class="container-media">
            @if( isLoadingLesson() ){
                <app-loader />
            }
            @else if( selectedLesson() && selectedLesson()?.file?.resource_type === 'video' ){
                <app-vjs-player [options]="{
                        fluid: true,
                        aspectRatio: '16:9',
                        autoplay: true,
                        sources: [
                            {
                                src: selectedLesson()!.file.url ?? '',
                                type: 'video/webm'
                            }
                        ],
                        language: 'es'
                    }" 
                />
            }
            @else if( selectedLesson() && selectedLesson()?.file?.resource_type === 'image' ){
                <img class="lesson-image" [src]="selectedLesson()!.file.url" />                
            }
        </div>
    }
</div>
