<div class="container-content">
    @if( enrollmentState.isLoading() ){
        <div class="container-loader">
            <app-loader />
        </div>
    }
    @else {
        <app-list-of-content [courseId]="enrollmentState.selectedEnrollment()?.course?.id_course!" />

        <div class="container-media">
            <div class="container-title-lesson box-shadow" [ngClass]="{ 'skeleton-box': !lessonState.selectedLesson() }">
                @if( lessonState.selectedLesson() ){
                    <h1> {{ lessonState.selectedLesson()?.title }} </h1>
                }
            </div>
            <div class="container-reserved-space box-shadow">
                @if( lessonState.selectedLesson()?.file?.resource_type === "video" ) {
                    <app-vjs-player [options]="{ 
                            fluid : true,
                            aspectRatio : '16:9',
                            autoplay: false, 
                            sources:[
                                {
                                    src : lessonState.selectedLesson()?.file?.url!,
                                    type: lessonState.selectedLesson()?.file?.resource_type + '/' + lessonState.selectedLesson()?.file?.extension!
                                }
                            ],
                            language: 'es', 
                        }" />
                }
                @else if( lessonState.selectedLesson()?.file?.resource_type === "image" ) {
                    <img src="{{lessonState.selectedLesson()?.file?.url}}" alt="">
                }
            </div>
        </div>  
    }
</div>