@use '@variables' as v;

.container-content {
    display: flex;
    background-color: v.$white-custom;
    padding: 1.5rem 0;
}

.container-reserved-space{
    width: 55%;
    height: auto;
    border-radius: 0.5rem;
    background-color: rgba(40, 40 , 40 , 0.1);
    box-shadow: 6px 8px 15px rgba(40, 40 , 40 , 0.3);
    margin-left: 1.5rem;
}

.container-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-media-player{
    position: relative;
}