<section 
    [ngClass]="[ lessonFormState.isLessonFormVisible() ? 'expand' : '' ]"
    class="bg-slider-content">

        <div class="container-options">

            <div class="container-thumbnail-selector">
                <app-thumbnail-selector />
            </div>

            <div class="container-lessons-thumbnails">
                <div class="container-add-lesson">
                    <div class="card-thumbnail add-lesson">
                        <figure (click)="onAddLesson()" class="figure">
                            <img 
                            class="icon"
                            src="./assets/add-icon.svg" alt="Add Icon">
                            <p class="text-simple"> Añade una nueva lección</p>
                        </figure>
                    </div>
                </div>

                <div class="container-slider">
                    <div class="slider-content">
                        @for( lesson of this.lessonFormState.lessons() ; track lesson ){
                            <div 
                            (click)="onSelectLesson( lesson )" 
                            class="card-thumbnail thumbnail-lesson">
                                <figure class="figure">
                                    @if ( lesson.file.url != null ) {
                                        <img class="thumbnail-lesson" 
                                            src="{{lesson.file.url}}" alt="">
                                    }
                                    @else {
                                        <img class="icon" src="/assets/thumbnail-icon.svg" alt="">
                                    }
                                </figure>
                            </div>
                        }
                    </div>
                </div>
                    
            </div>
        </div>
        
    <div class="container-lesson-expand">
        
        <div class="container-media-preview">
            <input 
                type="file" 
                id="file" 
                name="file" 
                class="input-file"
                accept="image/*,video/*"
            />
            <figure class="figure-attach">
                @if( lessonFormState.lessonSelected() === null || lessonFormState.lessonSelected()?.file?.url === null ){
                    <img
                        class="attach-icon" 
                        src="./assets/attach-icon.svg" alt="Attach Icon">
                    <p class="text-simple"> Añade contenido a la lección</p>
                }
                @else{
                    <img 
                        src="{{ lessonFormState.lessonSelected()?.file!.url }}" alt="">
                }
            </figure>
        </div>

        <div class="container-form-lesson">
            <app-form-lesson  />
        </div>

    </div>
    
    <div class="icon-expand">
        <figure (click)="onExpandSlider()">
            <img src="./assets/expand-icon.svg" alt="Expand icon">
        </figure>
    </div>

</section>