<section 
    [ngClass]="[ lessonFormState.isLessonFormVisible() ? 'expand' : '' ]"
    class="bg-slider-content">
    @if( lessonsResource.isLoading() ){
        <app-loader />
    }
    @else {
        <div class="container-options">

            <div class="container-thumbnail-selector">
                <app-thumbnail-selector />
            </div>

            <div class="container-lessons-thumbnails">
                <div class="container-add-lesson">
                    <div class="card-thumbnail add-lesson">
                        <figure (click)="lessonFormState.onAddLesson()" class="figure">
                            <img 
                            class="icon"
                            src="./assets/add-icon.svg" alt="Add Icon">
                            <p class="text-simple"> Añade una nueva lección</p>
                        </figure>
                    </div>
                </div>

                <div class="container-slider">
                    <div class="slider-content">
                        @for( lesson of lessonsResource.value() ; track lesson ){
                            <div 
                            (click)="this.lessonFormState.patchValuesForm( lesson , this.lessonForm )" 
                            class="card-thumbnail thumbnail-lesson">
                                <figure class="figure">
                                    <img src="" alt="">
                                </figure>
                            </div>
                        }
                    </div>
                </div>
                    
            </div>
        </div>
    }
        
    <div class="container-lesson-expand">
        <div class="container-media-preview">
            <figure class="figure-attach">
                <img
                    class="attach-icon" 
                    src="./assets/attach-icon.svg" alt="Attach Icon">
                <p class="text-simple"> Añade contenido a la lección</p>
            </figure>
        </div>
        <div class="container-form-lesson">
            <app-form-lesson [lessonForm]="lessonForm" />
        </div>
    </div>
    
    <div class="icon-expand">
        <figure (click)="this.lessonFormState.toggleVisibilityOfLessonForm()">
            <img src="./assets/expand-icon.svg" alt="Expand icon">
        </figure>
    </div>

</section>