   <section 
    [ngClass]="[ lessonFormState.isLessonFormVisible() ? 'expand' : '' ]"
    class="bg-slider-content">

        <div class="container-options">

            <div class="container-thumbnail-selector">
                <app-thumbnail-selector class="thumbnail-selector" [folder]="'courses'"/>
            </div>

            <div class="container-lessons-thumbnails">
                <div class="container-add-lesson">
                    <app-card-action (action)="lessonFormState.toggleVisibilityOfModulePopUp()" svgPath1="./assets/bracket-curly-left.svg" svgPath2="./assets/bracket-curly-right.svg" textAction="Crear nuevo módulo"/>
                        <div 
                            [ngClass]="this.lessonFormState.isModulePopUpVisible() ? 'visible' : 'hidden'"
                            class="container-popup">
                            <app-save-module [course]="course()" />
                        </div>
                    <app-card-action (action)="onAddLesson()" svgPath1="./assets/add-icon.svg" textAction="Añade una nueva lección"/>
                </div>

                <div class="container-slider">
                    <div class="slider-content">
                        @if( lessonsResource.isLoading() ){
                            <h2 class="loading-lessons">Cargando lecciones...</h2>
                        }
                        @else {
                            @for( lesson of this.lessonFormState.lessons() ; track lesson.id ){
                                <div 
                                    (click)="onSelectLesson( lesson )" 
                                    class="card-thumbnail thumbnail-lesson"
                                    >
                                    <figure class="figure">
                                        @if( lessonFormState.lessonSelected()?.id === lesson.id && lessonFormState.tempMedia( ) != null ){
                                            <img class="thumbnail-lesson" 
                                                    src="{{lessonFormState.tempMedia()}}" alt="">
                                        }
                                        @else if ( lesson.file.url != null ) {
                                            <img class="thumbnail-lesson" 
                                                src="{{lesson.file.url}}" alt="">
                                        }
                                        @else {
                                            <img class="icon" src="/assets/thumbnail-icon.svg" alt="">
                                        }
                                    </figure>
                                </div>
                            }
                        }
                    </div>
                </div>
                    
            </div>
        </div>
        
    <div 
        [ngClass]="[ lessonFormState.isLessonFormVisible() ? 'expand' : '' ]"
        class="container-lesson">

        <div class="container-media-preview">
            <input 
                type="file" 
                id="file" 
                name="file" 
                class="input-file"
                accept="image/* , video/*"
                (change)="this.fileService.onFileChanged($event , 'lessons' )"
            />
            <figure class="figure-attach">
                @if( lessonFormState.lessonSelected() === null || lessonFormState.tempMedia() === null ){
                    <img
                        class="attach-icon" 
                        src="./assets/attach-icon.svg" alt="Attach Icon">
                    <p class="text-simple"> Añade contenido a la lección</p>
                }
                @else{
                    @if( this.lessonFormState.typeMedia() === 'image' ){
                        <img 
                        class="figure"
                        src="{{ lessonFormState.tempMedia() }}" alt=""> 
                    }
                    @else{
                        <video class="figure" src="{{ lessonFormState.tempMedia() }}"></video>
                    }
                }
            </figure>
        </div>

        <div class="container-form-lesson">
            @if( modulesResource.isLoading() ){
                <app-loader />
            }
            @else{
                <app-form-lesson 
                    [modules]="this.modulesResource.value()!"
                    [course]="this.course()"  />
            }
        </div>

    </div>
    
    <div class="icon-expand">
        <figure (click)="onExpandSlider()">
            <img src="./assets/expand-icon.svg" alt="Expand icon">
        </figure>
    </div>

</section>