@use '../../../../variables.scss' as v;

.bg-slider-content{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 94%;
    margin: auto;
    margin-bottom: 1%;
    height: 30vh;
    background-color: v.$black-custom;
    overflow: hidden;
    transition: all 1s ease;
}

.bg-slider-content.expand{
    height: 36rem;
    transition: all 1s ease;


    & .icon-expand {
        display: flex;
        margin-top: auto;
        bottom: 0px;

        & img {
            transform: rotate(-180deg);
            transition: all 1s ease;
        }
    }
}

.container-options{
    display: flex;
    width: 100%;
    padding: 1% auto;
    // si .expand es 30%
    padding: 2%;
    height: 100%;
    align-items: center;
}

.container-thumbnail-selector{
    display: flex;
    width: 20%;
    height: 10rem;
    border-right: thin solid rgba(233, 233, 233, 0.15);
}

.container-lessons-thumbnails{
    position: relative;
    display: flex;
    margin: auto;
    width: 80%;
    height: 10rem;
}

.container-add-lesson{
    display: flex;
    width: 25%;
    height: 100%;
    padding-left: 3%;
    margin-right: 2%;
    background: linear-gradient(to right, v.$black-custom 60% , transparent 30% );
}

.add-lesson{
    width: 100%;
    height: 100%;
}

.text-simple{
    font-family: v.$font-primary;
    color: v.$white-custom;
    margin-top: 1%;
}

.container-slider{
    display: flex;
    width: 65%;
    justify-content: start;
}

.slider-content{
    display: flex;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 2%;
}

.card-thumbnail{
    display: flex;
    width: 100%;
}

.thumbnail-lesson{
    display: flex;
    min-width: 15rem;
    max-width: 15rem;
}

.figure{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
}

img{
    height: 5vh;
    pointer-events: none;
}

.container-lesson-expand{
    display: flex;
    width: 96%;
    height: 100%;
    border-top: solid thin rgba(233, 233, 233, 0.15);
    box-shadow: 0 -4px 6px -5px rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 1% 0%;
    gap: 2%;
}

.container-media-preview{
    display: flex;
    width: 42%;
    height: 45vh;
    border-radius: 1rem;
    background-color: rgb(53, 53, 53);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.container-form-lesson{
    width: 65%;
}

.figure-attach{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.attach-icon{
    margin: auto;
    width: 12%;
}

.icon-expand{
    position: sticky;
    width: 100%;
    height: 20px;
    background-color: rgb(71, 71, 71);
    bottom: -2%;
}

.icon-expand figure{
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.icon-expand figure img{
    width: 100%;
    height: 90%;
}
