@use '../../../../variables.scss' as v;

.bg-slider-content{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 1rem;
    width: 94%;
    margin: auto;
    margin-bottom: 1%;
    height: 14rem;
    background-color: v.$black-custom;
    transition: all 1s ease;

}

.bg-slider-content.expand{
    height: 36rem;
    transition: all 1s ease;

    & .icon-expand {
        display: flex;
        margin-top: auto;
        border-radius: 0 0 1rem 1rem;

        & img {
            transform: rotate(-180deg);
            transition: all 1s ease;
        }
    }

    & .container-media-preview{
        width: 42%;
        height: 45vh;
        transition: all 1.5s ease;
    }

}

.container-options{
    display: flex;
    width: 94%;
    padding: 1% auto;
    // si .expand es 30%
    padding: 2%;
    height: 14rem;
    align-items: center;
}

.container-thumbnail-selector{
    display: flex;
    width: 18rem;
    height: 10rem;
    border-right: thin solid rgba(233, 233, 233, 0.15);
}

.thumbnail-selector{
    display: flex;
    width: 100%;
    padding-right: 1rem;
}

.container-lessons-thumbnails{
    position: relative;
    display: flex;
    margin: auto;
    width: 80%;
    height: 10rem;
}

.container-add-lesson{
    display: flex;
    position: relative;
    align-items: center;
    width: 33rem;
    height: 100%;
    padding-left: 1rem;
    margin-right: 2%;
    gap: 2%;
    background: linear-gradient(to right, v.$black-custom 60% , transparent 30% );
}

.container-popup{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    top: 110%;
    z-index: 10000;
    width: 20rem;
    height: 10rem;
    background-color: rgb(51, 51, 51);
    transform: translateX(-15%);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
    
    &::before {
        content: '';
        position: absolute;
        top: -10px; 
        width: 0;
        height: 0;
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(51, 51, 51); 
    }

    &.hidden{
        opacity: 0;
        transform: translateY(-5%);

        transition: all 0.5s ease;
    }
}

.card-action{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.text-simple{
    font-family: v.$font-primary;
    color: v.$white-custom;
    margin-top: 1%;
}

.container-slider{
    display: flex;
    width: 65%;
    justify-content: start;
}

.slider-content{
    display: flex;
    width: auto;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 2%;
}

.loading-lessons{
    display: flex;
    font-family: v.$font-primary;
    justify-content: center;
    align-items: center;
    color: rgba(233, 233, 233, 0.7);
}

.card-thumbnail{
    display: flex;
    width: 100%;
}

.thumbnail-lesson{
    display: flex;
    min-width: 15rem;
    max-width: 15rem;
}

.thumbnail-lesson img{
    width: 100%;
    height: 100%;
}

.figure{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.5s ease;
}

.figure:hover{
    background-color: rgb(48, 48, 48);
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}


.figure-module{
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.figure-module p{
    width: 100%;
}

.container-lesson{
    display: flex;
    width: 0;
    height: 0;
    overflow: hidden;
}

.container-lesson.expand{
    display: flex;
    position: relative;
    width: 96%;
    height: 100%;
    border-top: solid thin rgba(233, 233, 233, 0.15);
    box-shadow: 0 -4px 6px -5px rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 1% 0%;
    gap: 2%;
}

.container-media-preview{
    display: flex;
    position: relative;
    z-index: 0;
    width: 42%;
    height: 0;
    border-radius: 1rem;
    background-color: rgb(53, 53, 53);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.input-file{
    display: flex;
    position: absolute;
    opacity: 0;
    inset: 0;
    width: 100%;
    height: 100%;
}

.container-form-lesson{
    width: 60%;
}

.figure-attach{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.attach-icon{
    margin: 0 auto;
    width: 12%;
}

.icon{
    display: flex;
    max-width: 2rem;
}

.icon-bracket{
    max-width: 3.5rem;
    max-height: 4rem;
}

.icon-expand{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 20px;
    background-color: rgb(71, 71, 71);
    border-radius: 0 0 1rem 1rem;
}

.icon-expand figure{
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.icon-expand figure img{
    width: 100%;
    height: 90%;
}
