
<section
    class="container-auth">
    <div class="container-commercial">
        <span class="eyebrow">Plataforma de cursos online</span>
        <h1 class="title-auth">¡Bienvenido a Udemix!</h1>
        <p class="text-auth">
            Un espacio diseñado para estudiantes, docentes y
            apasionados del conocimiento que buscan organizar, compartir y
            acceder a contenido educativo de forma clara y dinámica. Nuestra
            plataforma te permitirá grabar tus propios cursos, gestionar tu contenido
            y compartirlo con quienes desees.
        </p>
        <div class="container-social-media">
            <span class="divider"></span>
            <h2>¿Dónde puedes encontrarnos?</h2>
            <p class="text-social-media">Redes oficiales de Udemix </p>

            <div class="btns-social-media">
                <button class="btn-social btn-twitter">
                    <img src="assets/x-white.svg" alt="X icon">
                    Twitter
                </button>
                <button class="btn-social btn-facebook">
                    <img src="assets/facebook-white.svg" alt="Facebook icon">
                    Facebook
                </button>
                <button class="btn-social btn-instagram">
                    <img src="assets/instagram-white.svg" alt="Instagram icon">
                    Instagram
                </button>
            </div>
        </div>
    </div>
    <div class="bg-auth">
        <router-outlet />
    </div>
    <app-modal-error-message />
</section>
