@use '@variables/variables.scss' as v;

.modal-error-message{
    display: flex;
    width: 30%;
    height: 10%;
    position: fixed;
    bottom: 10px;
    left: 20px;
    border-radius: 20px;
    z-index: 1000;
    text-align: left;
    align-items: center;
    transform: translateX(0);
    transition: transform 1s ease-out;
    background-color: rgba(197, 14, 14 , 0.85);
}

.warning-svg{
    display: flex;
    max-width: 10%;
    margin: 1%;
}

.warning-svg img{
    width: 100%;
    height: 100%;
}

.error-message{
    display: flex;
    width: 100%;
    height: 100%;
    color: v.$white-custom;
    font-family: v.$font-primary;
    font-size: x-large;
}