@use '@variables' as v;

.modal-error-message{
    display: flex;
    width: 30%;
    height: 9%;
    position: fixed;
    pointer-events: none;
    bottom: 10px;
    left: 20px;
    border-radius: 20px;
    z-index: 1000;
    text-align: left;
    align-items: center;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.5s ease;
    background-color: rgba(197, 14, 14 , 0.85);
}

.modal-error-message.show{
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.5s ease;
}

.warning-svg{
    display: flex;
    max-width: 8%;
    margin: 1.5%;
}

.warning-svg img{
    width: 70%;
    height: 100%;
}

.error-message{
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 2%;
    align-items: center;
    color: v.$white-custom;
    font-family: v.$font-primary;
    font-size: medium;
}